body {
    font-family: sans-serif;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#notes-list li {
    padding: 6px;
}

#notes-list button {
    margin-left: 10px;
    cursor: pointer;
}

#input-container {
    background-color: #f5f5f5;
    margin: 5px 10;
    margin-top: -5px;
    padding: 18.5px;
    border-radius: 5px;
}

#notes-list .edit-btn {
    color: green;
    background-color: rgb(208, 255, 200);
    border-radius: 3px;
    border: 1px solid darkseagreen;
}

#notes-list .delete-btn {
    color: red;
    background-color: rgb(255, 227, 227);
    border-radius: 3px;
    border: 1px solid coral;
}

#sort-controls {
    margin: 15px 0;
    margin-top: 10px;
    padding: 10px;
    background-color: #f5f5f5;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 10px;
}
#sort-button {
    padding: 5px 10px;
    cursor: pointer;
    background-color: #e0e0ff;
    border: 1px solid #a0a0ff;
    border-radius: 3px;
}